.coming-container {
  background-color: #79745c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coming-title {
  font-size: 1.8em;
  width: 70%;
}

@media (max-width: 650px) {
  .coming-title {
    font-size: 1.7em;
    width: 90%;
  }
}
@media (max-width: 450px) {
  .coming-title {
    font-size: 1.4em;
  }
}
