.hero-info-container {
  background-color: #79745c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em;
  max-width: 1400px;
}

.info-span {
  font-size: 1.2em;
}

.hero-image {
  height: 28em;
  margin: 1.5em;
  max-height: 500px;
}

.hero-info-text {
  margin: 1.5em;
  text-align: center;
  max-width: 50%;
  font-size: 1.2em;
  line-height: 1.5em;
}

@media (max-width: 980px) {
  .hero-info-text {
    font-size: 1em;
  }
  .hero-image {
    height: 25em;
  }
}
@media (max-width: 800px) {
  .hero-image {
    height: 25em;
  }
}

@media (max-width: 755px) {
  .hero-info {
    flex-direction: column-reverse;
  }
  .hero-info-text {
    max-width: 90%;
  }
}

@media (max-width: 555px) {
  .hero-info {
    width: 100%;
    margin: 2em 0;
  }
  .hero-image {
    height: 22em;
    max-width: 100%;
  }
}
